{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="span8">
      <form action="" method="post" class="form-stacked">
        {% include 'form.html' %}
      </form>
    </div>
    <div class="span8">
      <ul>
        <li>
          <h3>
            <a href="{% url lutefisk_signin %}" title="{% trans "Already have an account?" %}">
              {% trans "Already have an account?" %}
            </a>
          </h3>
        </li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}
